@charset "UTF-8";

#tactics-game {
  font: 14px/1.2 'Source Sans Pro', sans-serif; color: black; width: 100vw; height: 100vh; padding: 0; overflow: hidden; margin: 0;
}

#tactics-game .game-container {
  display: flex; justify-content: center; align-items: center; width: inherit; height: inherit; background-color: black;
}

#notice-bar {
  box-sizing: border-box; opacity: 0; color: white; text-align: center; min-width: 320px; max-width: 800px; padding: 5px 10px; border-radius: 6px;
  position: absolute; top: 120px; left: 50%; transform: translateX( -50% ); z-index: -1; cursor: default; user-select: none;
  background-color: hsl( 0deg, 90%, 25% );
}

#notice-bar.fade-in {
  animation: fade-in 1s ease-out forwards running;
}

#notice-bar.lifted {
  top: 70px;
}

#notice-bar.red {
  background-color: hsl( 0deg, 90%, 25% );
}

#notice-bar.ocher {
  background-color: hsl( 45deg, 100%, 30% );
}

#notice-bar.green {
  background-color: hsl( 140deg, 75%, 20% );
}

#notice-bar.fast {
  animation-duration: .5s;
}

@keyframes fade-in {
  0% {
    opacity: 0; z-index: -1;
  }
  .1% {
    opacity: 0; z-index: 0;
  }
  100% {
    opacity: 1; z-index: 0;
  }
}
